/budget_project/.pytest_cache
/budget_project/results.json
/budget_project/__pycache__
/compression_project/compress/.idea
/compression_project/compress/cmake-build-debug
compression_project/compress/program
/compression_project/.idea
compression_project/compress/test_heap/testing
/compression_project/decompress/.idea
